.DS_Store
.idea
composer.phar
composer.lock
composer-setup.php
config/local.*
!config/*.template
vendor/*
!vendor/.gitkeep
build/logs/*
!build/logs/.gitkeep
resources/vendor_themes/*
!resources/vendor_themes/.gitkeep
data/session/*
!data/session/.gitkeep
data/log/*
!data/log/.gitkeep
/data/temp/*
!/data/temp/.gitkeep
