/composer.phar
/composer.lock
/config/local.*
!/config/*.template
/vendor/*
!/vendor/.gitkeep
/build/logs/*
!/build/logs/.gitkeep
/resources/vendor_themes/*
!/resources/vendor_themes/.gitkeep
/data/session/*
!/data/session/.gitkeep
