parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        -
            message: '#Property .* is never assigned int so it can be removed from the property type\.#'
            path: 'src/Entity/'
