{% extends selected_module == 'Admin' ? 'admin-layout.twig' : 'layout.twig' %}

{% block content %}
    <h1 class="page-header">Unauthorized!</h1>
    <a href="auth/login">Login here!</a>
{% endblock %}
