{% extends application.selectedModule == 'Admin' ? 'admin-layout.twig' : 'layout.twig' %}

{% block content %}
    <h1 class="page-header">Not found!</h1>
    <h2>{{ exception.getMessage() }}</h2>
{% endblock %}
