<div class="element datalist">
    <datalist id="{{ formElement.getId() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}>
        {% if formElement.hasOptions() %}
            {% set elementOptions = formElement.getOptions() %}
            {% for option in elementOptions['Default'] %}
                <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        {% endif %}
    </datalist>
</div>
