{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
<div class="error">
    <ul>
    {% for validator,errors in errorMessages %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
