<div class="element button reset">
    <button type="reset" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}>{{ formElement.getLabel() }}</button>
</div>
