<div class="element button submit">
    <button type="submit" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}>{{ formElement.getLabel() }}</button>
</div>
