{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin-layout.twig" %}

{% block title %}{{ 'Content Editor - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > Content Editor
{% endblock %}

{% block menucontent %}
    {% if isAllowed('admin-content-editor-index') %}
        <li class="selected"><a href="content-editor">Content Editor</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <section>
        {% block panelcontent %}
        <h1>Content Editor</h1>
        {% endblock %}
    </section>
{% endblock %}
