{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin-layout.twig" %}

{% block menuapp %}
    {% if isAllowed('admin-applications-list') %}
        <li class="selected"><a href="applications">Applications</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Applications!</h1>
    {% for application in applications %}
        <a href="applications/view/{{ application.name }}">{{ application.title }}</a>
    {% endfor %}
    <pre>
        {{ dump(applications) }}
    </pre>
{% endblock %}
