{% extends "admin-layout.twig" %}

{% block content %}
    <a href="auth/logout">Logout</a>
    <h1>Applications!</h1>
{% for application in applications %}
    <a href="applications/view/{{ application.name }}">{{ application.title }}</a>
{% endfor %}
<pre>
    {{ dump(applications) }}
</pre>

{% endblock %}
