<div class="element button button">
    <button type="button" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}>{{ formElement.getLabel() }}</button>
</div>
