{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element datalist">
    <datalist id="{{ formElement.getId() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }}>
        {%  set range = formElement.getValueRange() %}
        {% if range|length > 1 %}
            {% for label, option in range %}
                <option value="{{ option }}">{{ label }}</option>
            {% endfor %}
        {% endif %}
    </datalist>
</div>
