{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element hidden">
    {% set value = formElement.getValues() %}
    <input type="hidden" name="{{ formElement.getName() }}" value="{{ value[0] }}" />
</div>
