{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element hidden">
    <input type="hidden" name="{{ formElement.getName() }}" value="{{ formElement.getValue() }}"{{ _FORM.renderFormElementAttributes(formElement.getAttributes()) }} />
</div>
