{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element static-content {{ formElement.getName() }}">
    <fieldset name="{{ formElement.getName() }}">
        {% set label = formElement.getLabel() %}
        {% if label is not empty %}
        <legend>{{ label }}</legend>
        {% endif %}
        {{ formElement.getValue()|raw }}
    </fieldset>
</div>
