{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
<div class="element button submit">
    {% set value = formElement.getValues() %}
    <button type="submit" name="{{ formElement.getName() }}" value="{{ value[0] }}">{{ formElement.getLabel() }}</button>
</div>
