{##
 # WebHemi.
 #
 # @copyright 2012 - 2017 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin-layout.twig" %}

{% block content %}
    <a href="auth/logout">Logout</a>
    <a href="applications">Applications</a>
    <h1>Welcome!</h1>
    <p>You are now logged in to the admin area!</p>
    <hr>
    {{  dump(user) }}
    <hr>
{% endblock %}
