{% extends "admin/control-panel/index.twig" %}

{% block title %}{{ 'Add New Theme - ' ~ site_title|default('Thomas Admin') }}{% endblock %}

{% set location = '' %}
{%  if application.baseUri != '/' %}
    {% set location =  application.baseUri ~ '/' %}
{% endif %}
{% set location = location ~ 'control-panel/themes' %}

{% block header %}
    <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='{{ location }}'">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="mdl-layout-title">Add New Theme</span>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-grid themes-add">
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">

            Lorem ipsum

        </div>
    </div>
{% endblock %}
