{##
 # WebHemi.
 #
 # @copyright 2012 - 2018 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% extends "admin/control-panel/index.twig" %}

{% block title %}{{ 'Manage Themes: delete - Control Panel - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > <a href="control-panel">Control Panel</a> > <a href="control-panel/themes">Themes</a> > Delete
{% endblock %}

{% block content %}
    Lorem ipsum
{% endblock %}
