<?php

return [
    'pdo' => [
        'dsn'      => 'mysql:dbname=%pdo.dbname%;charset=utf8;hostname=%pdo.hostname%',
        'user'     => '%pdo.username%',
        'password' => '%pdo.password%',
        'options'  => [
        ],
    ],
];
