<?php

return [
    'applications' => [
        'website' => [
            'theme'       => 'default',
        ],
        'my_sub-application' => [
            'type'        => 'directory',
            'path'        => 'sub-app',
            'theme'       => 'default',
        ]
    ]
];
