<?php

return [
    'applications' => [
        'website' => [
            'path'  => '%application.website.path%',
            'theme' => '%application.website.theme%',
        ],
        'admin' => [
            'path'  => '%application.admin.path%',
            'theme' => '%application.admin.theme%',
        ],
    ],
];
