{##
 # WebHemi.
 #
 # @copyright2012 - 2019 Gixx-web (http://www.gixx-web.com)
 # @license   https://opensource.org/licenses/MIT The MIT License (MIT)
 # @link      http://www.gixx-web.com
 #}
{% import '@WebHemi/macros/renderForm.twig' as _FORM %}
{% extends "admin/control-panel/index.twig" %}

{% block title %}{{ 'Manage Domains - Control Panel - ' ~ site_title|default('WebHemi Admin') }}{% endblock %}

{% block header %}
    <a href="">Dashboard</a> > <a href="control-panel">Control Panel</a> > Domains
{% endblock %}

{% set selectedPanel = 'domains' %}

{% block panelcontent %}
    <h1>Domains</h1>
{% endblock %}
